@page
@model WebApplication1MusicCollectionAppReal.Pages.PlaylistScreen
@{
}
<h1>@ViewData["Title"]</h1>

<body>
    <link rel="stylesheet" href="~/css/PlaylistScreen.css" asp-append-version="true" />
</body>

@if (Model.viewModel.Creator.ID == HttpContext.Session.GetInt32("UserID"))
{
    <div class="playlistmethods playlistinfo">
    <form method="post">
        <input asp-for="NewName"  placeholder="Enter new PlaylistName" />
        <button type="submit" class="button" asp-page-handler="ChangePlaylistName">Change PlaylistName</button>
    </form>
    <form method="post" enctype="multipart/form-data" asp-page-handler="ChangePlaylistPhoto">
        <label for="NewPhoto">Choose an image:</label>
        <input type="file" id="NewPhoto" name="NewPhoto" accept=".jpg,.jpeg,.png,.webp" required />
        <button type="submit" class="button">Upload</button>
    </form>
        <form method="post" class="deletemethod">
            <button type="submit" class="button deletebutton" asp-page-handler="DeletePlaylist">Delete Playlist</button>
        </form>
    
    </div>
}
@if (!string.IsNullOrEmpty(Model.viewModel.Base64Photo))
{
    <img src="data:image/jpeg;base64,@Model.viewModel.Base64Photo" class="playlist-picture playlistinfo" alt="Profile Photo" />
}
@if (string.IsNullOrEmpty(Model.viewModel.Base64Photo))
{
    <img src="@Url.Content("~/noimage.jpg")" alt="noimage" class="playlist-picture playlistinfo" />
}
<h3 class="playlistname playlistinfo">@Model.viewModel.Name</h3>
<h3 class="playlistcreator playlistinfo">@Model.viewModel.Creator.Name</h3>
<h3 class="playlistcreationdate playlistinfo">@Model.viewModel.DateAdded.ToShortDateString()</h3>

<table class="playlist-table playlistinfo">
    <thead>
        <tr>
            <th>Song Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Date Released</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model.viewModel.playlistSongs)
        {
            <tr>
                <td>
                    <a asp-page="/Song" asp-route-id="@song.ID">
                        @song.Name
                    </a>
                </td>
                <td>
                    <a asp-page="/Account" asp-route-id="@song.Artist.ID">
                        @song.Artist.Name
                    </a>
                </td>
                <td>
                    <a asp-page="/PlaylistScreen" asp-route-id="@song.Album.ID">
                        @song.Album.Name
                    </a>
                </td>
                <td>@song.DateReleased.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
<h1 class="errormessage">@Model.ErrorMessage</h1>
